.content-song {
	font-size: larger;
	font-weight: bolder;
	line-height: 150%;
}

.tf-bar {
	text-align: center;
}

.tf-stanza-number {
	font-size: 10px;
	font-weight: normal;
}

#tf-banner {
	text-align: center;
}