
@media all {
	body { font-size: medium; }
	.ui-bar { font-size: 12px;}
}

@media (min-width: 980px) {
	body { font-size: 150%;	}
	.ui-li-heading, .ui-header .ui-btn, .ui-footer .ui-btn, .ui-bar .ui-btn { font-size: 150%; }
	.ui-li-desc, .ui-bar { font-size: 16px;}
}

.content-song {
	font-size: larger;
	font-weight: bolder;
	line-height: 150%;
}

.tf-bar {
	text-align: center;
}

.tf-stanza-number {
	font-size: 10px;
	font-weight: normal;
}

.tf-align-center {
	text-align: center;
}

.tf-annot {
	font-size: 10px;
	color: #aaa;
}

#tf-banner {
	text-align: center;
}
